.movie_details {
	display: flex;
	height: auto;
	width: 100%;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.big_card {
	display: grid;
	position: relative;
	width: 75%;
	padding-top: 50px;
	padding-right: 30px;
	grid-template-columns: repeat(2, minmax(350px, 1fr));
	grid-template-rows: auto;
	grid-template-areas:
		'movie_image movie_info'
		'movie_actors movie_actors';
	grid-row-gap: 25px;
	background-color: rgba($color: #000000, $alpha: 0.7);
	color: $black;
}

.goback {
	position: absolute;
	top: 10px;
	left: 10px;
	color: $white;
	&:hover {
		cursor: pointer;
		color: $blue;
	}
}

.movie_poster {
	grid-area: movie_image;
	justify-self: center;
}

.detailed_info {
	grid-area: movie_info;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0 20px;
	color: $white;
	& h2 {
		font-family: 'Roboto', sans-serif;
	}
	& p {
		font-family: 'Lato', sans-serif;
		font-size: 1.2rem;
		margin-top: 25px;
	}
	& div {
		margin: 0 auto;
		width: 75%;
	}
	& .ratetime {
		display: flex;
		justify-content: space-between;
	}
	& .cash {
		display: flex;
		justify-content: space-between;
	}
	& .dates {
		display: flex;
		flex-direction: column;
	}
	& .genre {
		display: flex;
		justify-content: space-evenly;
		// margin-left: 54px;
		& ul {
			display: flex;
			width: 100%;
			justify-content: space-evenly;
		}
	}
}

.movie_actors {
	grid-area: movie_actors;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.actor {
	width: 175px;
	padding-top: 15px;
	color: $white;
	text-align: center;

	& .actorImage {
		height: 125px;
		width: 125px;
		border-radius: 125px;
		background-size: cover;
		background-position: center center;
		margin: 0 auto;
	}

	// & img {
	// 	height: 154px;
	// 	width: 154px;
	// 	border-radius: 50%;
	// }
	& h4 {
		width: 100%;
		text-align: center;
		// margin: 0 auto;
		font-family: 'Montserrat', sans-serif;
	}
	& h6 {
		width: 100%;
		text-align: center;
		// margin: 0 auto;
		font-family: 'Lato', sans-serif;
	}
}
