.card {
	display: flex;
	padding: 15px;
	background-color: $silver;
	width: 350px;
	flex-direction: row;
	color: $black;
	& ul {
		text-align: center;
	}
}

.movie_info img {
	width: 150px;
	height: 250px;
}

.movie__description {
	display: flex;
	max-height: 260px;
	max-width: 180px;
	padding: 20px;
	justify-content: center;
	align-items: center;
	& p {
		display: inline-block;
		margin: 0;
		height: 100%;
		width: 100%;
		//white-space: nowrap;
		overflow: hidden;
		//text-overflow: ellipsis;
	}
}
