.card {
	display: flex;
	padding: 15px;
	background-color: $silver;
	width: 100%;
	flex-direction: row;
	justify-content: space-evenly;
	color: $black;
	box-shadow: 3px 3px 5px $silver;
	& ul {
		text-align: center;
	}
}

.movie_info img {
	width: 150px;
	height: 250px;
}

.movie__description {
	height: 270px;
	max-width: 180px;
	padding: 10px 0 10px 10px;
	& h5 {
		margin: 0 0 15px 0;
		color: $black;
		text-align: center;
	}
	& p {
		display: block;
		/* hide text if it more than N lines  */
		overflow: hidden;
		/* for set '...' in absolute position */
		position: relative;
		/* use this value to count block height */
		line-height: 1.2em;
		/* max-height = line-height (1.2) * lines max number (3) */
		max-height: 12.4em;
		/* fix problem when last visible word doesn't adjoin right side  */
		text-align: justify;
		/* place for '...' */
		// margin-bottom: 0;
		margin-right: -1em;
		padding-right: 1em;
		&:before {
			/* points in the end */
			content: '...';
			/* absolute position */
			position: absolute;
			/* set position to right bottom corner of block */
			right: 0;
			bottom: 0;
		}
		&:after {
			/* points in the end */
			content: '';
			/* absolute position */
			position: absolute;
			/* set position to right bottom corner of text */
			right: 0;
			/* set width and height */
			width: 1em;
			height: 1em;
			margin-top: 0.2em;
			/* bg color = bg color under block */
			background: $silver;
		}
	}
}

#info #moreInfo {
	cursor: pointer;
	color: $blue;
	&:hover {
		color: $maroon;
	}
}
